@charset "UTF-8";
body{
  	margin: 0;
    padding: 0;
    overflow: visible;
    background-color: rgb(240,242,245);
}
#newsa{
    width:500px;
    height: 200px;
    position: fixed;
    left: 35%;
    top:30%;
}